# File to track packages installed for this project (for future cleanup)
certifi-2026.2.25
charset_normalizer-3.4.7
idna-3.11
polars-1.39.3
polars-runtime-32-1.39.3
pyyaml-6.0.3
requests-2.33.1
ultralytics-8.4.38
ultralytics-thop-2.0.18
urllib3-2.6.3

# Labeling virtual enironment for label-studio

# Using venv:
# > detector\labeling\Scripts\activate on root folder
# > deactivate